

<form id="searchForm">
    <div id="searchDiv">

        <input type="text" id="searchQuery" name="searchQuery" />
        <select id="searchType">
            <option value="NEWS">NEWS</option>
            <option value="VIDEO">VIDEO</option>
            <option value="IMAGE">IMAGE</option>
        </select>
        <input type="submit" class="searchButton" id="searchButton" value="SEARCH" />
    </div>
</form>

<div class="contentContainer">
    <ul id="resultContainer"></ul>
</div>
<footer></footer>